<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26185453497-e309gc40hdfmro980bkkbs8ueultg8uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26185453497-e309gc40hdfmro980bkkbs8ueultg8uo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26185453497-9lbcpifp8omacp82vmt8i8rpjd1q40t1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBM8wVdJdJnWxSPwvNCNQydNVmqIAhqCRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>26185453497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rachaelgomez.picknic</string>
	<key>PROJECT_ID</key>
	<string>picknik-d1e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>picknik-d1e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26185453497:ios:144ff794501fb7988b7068</string>
</dict>
</plist>